@model IEnumerable<FAsgmntV2.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Book Home Page !</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><span class="material-symbols-outlined">settings</span></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><span class="material-symbols-outlined">info</span></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><span class="material-symbols-outlined">delete</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
